<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Vue.js Intro</title>
	</head>
	<body>
		<!-- Vue -->
		<div id="myApp">
			<h1>Batman Quotes <small>{{newQuote}}</small></h1>
			<input
				type="text"
				v-model="newQuote"
				v-on:keypress.enter="addQuote"
			/>

			<hr />

			<ul>
				<li v-for="({quote, author}, index) in quotes">
					<p>{{index + 1}} - {{quote}}</p>
					<blockquote v-if="author">-{{author}}</blockquote>
				</li>
			</ul>
		</div>
		<!-- Vue -->

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
